 @font-face {
  font-family: papyrus;
  src: local(papyrus);
}

@font-face {
    font-family: trajanpro;
    src: url(trajan.otf)
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: papyrus;
    background-color: #55F505;
    text-align: center;
    background-image: url(images/Flag-United-States-of-America.webp)
}

#header {
    height: 10%;
    width: 100%;
    background-color: #55F505;
    font-family: trajanpro;
}

#spring, #rhythm, #pantheon {
    background-color: #FA05AC;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

a {
    color: white;
}